* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #f4f3ef;
}

a {
  text-decoration: none;
  color: #cb3837;
}

.container {
  text-align: center;
}

#updateMessage {
  background: #5e5e5e;
  color: #f4f3ef;
  padding: 10px 20px;
  top: 0;
  position: absolute;
  width: 100vw;
  line-height: 1.4rem;
}

#updateMessage:empty {
  top:-10000px;
}

.resizable {
  position: relative;
  resize: both;
  display: block;
  overflow: auto;
  background: #fff;
  min-width:200px;
  min-height:200px;
}

.draggable {
  position: absolute;
}

.dragbar {
  border: 5px solid white;
  background: red;
  height: 13px;
  display: block;
  width: 100%;
  cursor: move;  
}